<div id="alertifyCover" class="alertify-cover alertify-hidden"></div>
<section id="alertifyDialog" data-ok="OK" data-cancel="Mégsem" data-focus="OK" class="alertify alertify-close" aria-labelledby="alertifyTitle" aria-hidden="true">
    <div class="alertify-body">
        <div class="alertify-header"><span id="alertify-title-text">Rendszerüzenet</span>
            <span class="alertify-close-x"></span>
        </div>
        <div class="alertify-content">
            <p id="alertifyTitle" class="alertify-title"></p>
            <input type="text" id="alertifyInput" class="alertify-input" aria-hidden="true">
            <nav id="alertifyButtons" class="alertify-buttons">
                <button onclick="return false" id="alertifyButtonOk" class="alertify-button alertify-button-ok" aria-hidden="true"></button>
                <button onclick="return false" id="alertifyButtonCancel" class="alertify-button alertify-button-cancel" aria-hidden="true"></button>
            </nav>
            <a id="alertifyFocusReset" class="alertify-focus-reset" href="#" aria-hidden="true"></a>
        </div>
    </div>
</section>

