dt, dd {
    line-height: 1.4;
}
dd {
    margin-bottom: 1rem;
}
.app {
    background: #f6f7f9;
}
.app .wrapper {
    background: #f6f7f9;
    background-image: none !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
.form__fieldset--padded {
    padding: 2em 0;
}
.app__main {
    position: relative;
    width: 100%;
    padding-top: 45px;
    overflow: hidden;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-fluid::before, .container-fluid::after {
    content: " ";
    display: table;
}

.row::before, .row::after {
    content: " ";
    display: table;
}

.app__sidebar {
    min-height: calc(100vh - 45px);
    z-index: 0;
    position: absolute;
    height: calc(100vh - 45px);
    overflow: auto;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    background-color: #F6F7F9;
}

.app__sidebar__search-toggle-btn {
    z-index: 2;
    position: absolute;
    top: 1rem;
    right: 0;
    background: transparent;
    color: #9A9CA8;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}


.toggle-item {
    height: 0;
    overflow: hidden;
}

.app__sidebar__search-toggle-item {
    padding-top: 2em;
}
.app__sidebar-toggle:focus {
    outline: none;
}
.btn--reset {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    -webkit-appearance: none;
}
.app__sidebar-toggle {
    position: absolute;
    top: 1em;
    left: 1em;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.app__main--altered-state .app__sidebar-toggle__show-icon {
    display: inline-block;
}

.app__main--altered-state .app__sidebar-toggle__hide-icon {
    display: none;
}
.app__sidebar-toggle__show-icon {
    display: none;
}
.app__sidebar-toggle__hide-icon {
    display: inline-block;
}

.app__main--altered-state.app__main--has-sidebar .app__content {
    width: 100%;
    margin-left: 0;
}
.app__main--altered-state.app__main--has-sidebar .app__content {
    border-left-color: #dddddd;
}
.col--padded {
    padding-top: 1em;
    padding-bottom: 1em;
}
.app__content {
    border-left-color: #dddddd;
}
.app__content {
    position: relative;
    background: white;
    border: 1px solid #dddddd;
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;
    min-height: calc(100vh - 95px);
}
.app__sidebar-toggle:hover {
    color: #2997ce;
}

.app__content__header__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    color: #333;
    font-size: 2em;
}
.sonata-bc .app__content__breadcrumb {
    padding: 0 0 0 3em;
    margin-bottom: 35px;
    list-style: none;
    background-color: white;
    border-radius: 3px;
    float:none;
}

.btn, .fos_user_change_password input[type="submit"] {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 20px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: #333333;
    background-color: white;
    border-color: #dddddd;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #bebebe;
}
.btn-group .btn + .btn, .btn-group .fos_user_change_password input[type="submit"] + .btn, .fos_user_change_password .btn-group input[type="submit"] + .btn, .btn-group .fos_user_change_password .btn + input[type="submit"], .fos_user_change_password .btn-group .btn + input[type="submit"], .btn-group .fos_user_change_password input[type="submit"] + input[type="submit"], .fos_user_change_password .btn-group input[type="submit"] + input[type="submit"], .btn-group .btn + .btn-group, .btn-group .fos_user_change_password input[type="submit"] + .btn-group, .fos_user_change_password .btn-group input[type="submit"] + .btn-group, .btn-group .btn-group + .btn, .btn-group .fos_user_change_password .btn-group + input[type="submit"], .fos_user_change_password .btn-group .btn-group + input[type="submit"], .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}


.page-sub-actions {
    margin: -2rem 0 2.2rem;
    text-align: right;
}
.page-sub-actions--has-buttons {
    margin: -3.8rem 0 3.8rem;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle), .fos_user_change_password .btn-group > input[type="submit"]:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn:first-child, .fos_user_change_password .btn-group > input[type="submit"]:first-child {
    margin-left: 0;
}

.btn__icon {
    color: #999999;
}
.btn-group > .btn:hover, .fos_user_change_password .btn-group > input[type="submit"]:hover, .btn-group > .btn:focus, .fos_user_change_password .btn-group > input[type="submit"]:focus, .btn-group > .btn:active, .fos_user_change_password .btn-group > input[type="submit"]:active, .btn-group > .btn.active, .fos_user_change_password .btn-group > input.active[type="submit"], .btn-group-vertical > .btn:hover, .fos_user_change_password .btn-group-vertical > input[type="submit"]:hover, .btn-group-vertical > .btn:focus, .fos_user_change_password .btn-group-vertical > input[type="submit"]:focus, .btn-group-vertical > .btn:active, .fos_user_change_password .btn-group-vertical > input[type="submit"]:active, .btn-group-vertical > .btn.active, .fos_user_change_password .btn-group-vertical > input.active[type="submit"] {
    z-index: 2;
}
.btn-group > .btn, .fos_user_change_password .btn-group > input[type="submit"], .btn-group-vertical > .btn, .fos_user_change_password .btn-group-vertical > input[type="submit"] {
    position: relative;
    float: left;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #bebebe;
}
.btn:active, .fos_user_change_password input[type="submit"]:active, .btn.active, .fos_user_change_password input.active[type="submit"] {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn--raise-on-hover {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn, .fos_user_change_password input[type="submit"] {
    padding: 0.6rem 2rem;
}
.btn, .fos_user_change_password input[type="submit"] {
    padding: 0.6rem 1.74rem;
}
.page-main-actions {
    margin: 1rem 0;
    text-align: right;
}
.page-main-actions {
    float: right;
    margin: -1rem 0 1rem;
}
.page-main-tabs {
    margin: 2rem 0 0;
}
.btn-group > .btn-group {
    float: left;
}
.page-main-actions--top {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    margin: 0;
    padding: .4em 1em;
    background: #f7f7f7;
    border-bottom: 1px solid #dddddd;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.page-main-actions .btn, .page-main-actions .fos_user_change_password input[type="submit"], .fos_user_change_password .page-main-actions input[type="submit"] {
    padding: .6rem 1rem;
}
.page-main-actions .btn, .page-main-actions .fos_user_change_password input[type="submit"], .fos_user_change_password .page-main-actions input[type="submit"] {
    padding: .6rem 2rem;
}
.large-screen {
    display: inline;
}
.small-screen {
    display: none;
}

.page-main-actions--top--show {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px);
}

.page-main-actions--top {
    z-index: 100;
    position: fixed;
    top: 6px;
    left: 0;
    right: 0;
    height: 45px;
    margin: 0;
    padding: .4em 1em;
    background: #f7f7f7;
    border-bottom: 1px solid #dddddd;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
a.list-group-item {
    color: #2997ce;
}
.list-group-item:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    color: #2997ce;
    background-color: #eeeeee;
}
.list-group--no-top-border > .list-group-item:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}


.text--muted {
    color: #999999;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
}
.fade.in {
    opacity: 1;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-dialog {
    width: 60vw;
    margin: 30px auto;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.4px;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-header h1, .modal-header h2, .modal-header h3, .modal-header h4 {
    margin: 0;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.form-group {
    position: relative;
    max-width: 40rem;
}
.form-control, .fos_user_change_password .form-group > input[type="text"], .fos_user_change_password input[type="password"] {
    max-width: 40rem;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-actions {
    overflow: hidden;
    border-top: 1px solid #dddddd;
    text-align: right;
}
.form-actions--padded {
    padding: 1em;
}
.fa, .glyphicon, .table--sortable__th::before, .sortable-item--error {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-unsorted::before, .fa-sort::before, .table--sortable__th:hover:not(.table--sortable__th--up)::before, .table--sortable__th:hover:not(.table--sortable__th--down)::before {
    content: "\f0dc";
}
input[type="file"] {
    display: block;
}
input[type="file"].form-control, .fos_user_change_password .form-group > input[type="file"][type="text"], .fos_user_change_password input[type="file"][type="password"] {
    height: auto;
}
.row--padded {
    padding-top: 1em;
    padding-bottom: 1em;
}
.app__content__header {
    margin-top: 1rem;
    padding: 0 0 1em 0;
    border-bottom: 1px solid #dddddd;
}
.app__content__header__title__small {
    font-size: .5em;
    color: #999999;
}
.link--text {
    color: #333333;
}
.app__content .table-responsive {
    margin-top: 2rem;
}
.table__actions__item {
    display: inline-block;
    margin: 0 .8rem 0 0;
    white-space: nowrap;
    transition: color .3s ease;
}
.table--sortable__th {
    position: relative;
    transition: background .3s ease;
    cursor: pointer;
}
.table--sortable__th--up, .table--sortable__th--down {
    background: #eeeeee;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 1px;
}
.table--sortable__th:not(.table--sortable__th--up):hover, .table--sortable__th:not(.table--sortable__th--down):hover {
    background: #eeeeee;
}
.fa-caret-down::before, .table--sortable__th--down::before {
    content: "\f0d7";
}
.table--sortable__th::before {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.pager-count .counter {
    float: right;
}
.pagination, .pagination ul {
    display: inline-block;
    padding-left: 0;
    margin: 19px 0;
    border-radius: 3px;
}
div.pagination {
    margin-bottom: 1rem;
    display: block;
    text-align: right;
}
.pagination ul {
    margin: 0;
}
.pagination > li, .pagination ul > li {
    display: inline;
}
.pagination > li > a, .pagination ul > li > a, .pagination > li > span, .pagination ul > li > span {
    position: relative;
    float: left;
    padding: 6px 20px;
    line-height: 1.4;
    text-decoration: none;
    color: #2997ce;
    background-color: white;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
.pagination > .active > a, .pagination ul > .active > a, .pagination > .active > a:hover, .pagination ul > .active > a:hover, .pagination > .active > a:focus, .pagination ul > .active > a:focus, .pagination > .active > span, .pagination ul > .active > span, .pagination > .active > span:hover, .pagination ul > .active > span:hover, .pagination > .active > span:focus, .pagination ul > .active > span:focus {
    z-index: 2;
    color: white;
    background-color: #2997ce;
    border-color: #2997ce;
    cursor: default;
}
.pagination ul > li > span, .pagination ul ul > li > span {
    padding-left: 15px;
    padding-right: 15px;
}
.pagination > .disabled > span, .pagination ul > .disabled > span, .pagination > .disabled > span:hover, .pagination ul > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination ul > .disabled > span:focus, .pagination > .disabled > a, .pagination ul > .disabled > a, .pagination > .disabled > a:hover, .pagination ul > .disabled > a:hover, .pagination > .disabled > a:focus, .pagination ul > .disabled > a:focus {
    color: #999999;
    background-color: white;
    border-color: #dddddd;
    cursor: not-allowed;
}
.pagination > li:first-child > a, .pagination ul > li:first-child > a, .pagination > li:first-child > span, .pagination ul > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pager-count::after {
    content: "";
    display: block;
    clear: both;
}
/* ==========================================================================
   JsTree

   Custom theme for jsTree v3.0
   ========================================================================== */
/* General
   ========================================================================== */
.jstree-node,
.jstree-children,
.jstree-container-ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none; }

/* Container List
   ========================================================================== */
.jstree-container-ul > .jstree-node {
    margin-left: 0; }

/* Node
   ========================================================================== */
.jstree-node {
    min-width: 2.3rem;
    min-height: 2.3rem;
    margin-left: 2.3rem;
    line-height: 2.3rem;
    white-space: nowrap; }

/* Anchor
   ========================================================================== */
.jstree-anchor {
    display: inline-block;
    padding: 0 .4em 0 0;
    margin: 0;
    height: 2.3rem;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #333333;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    -webkit-transition: background-color 0.15s ease;
    -o-transition: background-color 0.15s ease;
    transition: background-color 0.15s ease; }
.jstree-anchor:hover, .jstree-anchor:focus {
    text-decoration: none;
    color: #333333;
    outline: 0; }
.jstree-anchor.active, .jstree-anchor.active:hover {
    color: #2997ce; }

.jstree-node--offline .jstree-anchor {
    color: #999999; }

/* Icon
   ========================================================================== */
.jstree-icon, .jstree-icon:empty {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 2.3rem;
    height: 2.3rem;
    font-size: 1.3rem;
    color: #555555;
    line-height: 2.3rem;
    text-align: center;
    text-decoration: none;
    vertical-align: top; }

.jstree-node,
.jstree-icon {
    background-image: url("/bundles/hgabkautils/default-theme/img/jstree/kuma.svg"); }

.jstree-node {
    background-position: -292px -3px;
    background-repeat: repeat-y; }

.jstree-last {
    background: transparent; }

.jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0; }

.jstree-ocl {
    cursor: pointer; }

.jstree-leaf > .jstree-ocl {
    cursor: default; }

.jstree-open > .jstree-ocl {
    background-position: -132px -3px; }

.jstree-closed > .jstree-ocl {
    background-position: -100px -3px; }

.jstree-leaf > .jstree-ocl {
    background-position: -68px -3px; }

/* Open/Close Tree
   ========================================================================== */
.jstree .jstree-open > .jstree-children {
    display: block; }

.jstree .jstree-closed > .jstree-children,
.jstree .jstree-leaf > .jstree-children {
    display: none; }

/* States
   ========================================================================== */
.jstree-hovered {
    background: #f0f2f5; }

/* Search
   ========================================================================== */
.jstree-search {
    color: #2997ce;
    font-weight: bold; }

/* Drag-and-drop styles
   ========================================================================== */
#jstree-dnd {
    line-height: 16px;
    margin: 0;
    padding: 4px; }
#jstree-dnd .jstree-icon, #jstree-dnd .jstree-copy {
    display: inline-block;
    text-decoration: none;
    margin: 0 2px 0 0;
    padding: 0;
    width: 16px;
    height: 16px; }
#jstree-dnd .jstree-ok, #jstree-dnd .jstree-er {
    background: url("/bundles/hgabkautils/default-theme/img/jstree/kuma.svg") no-repeat; }
#jstree-dnd .jstree-ok {
    background-position: -9px -71px; }
#jstree-dnd .jstree-er {
    background-position: -39px -71px; }
#jstree-dnd .jstree-copy {
    margin: 0 2px 0 2px; }

#jstree-dndi {
    background: transparent;
    width: 16px;
    height: 16px; }

.jstree-anchor > .jstree-undetermined {
    background-position: -196px -4px; }

.jstree-anchor > .jstree-undetermined:hover {
    background-position: -196px -36px; }

#jstree-marker {
    position: absolute;
    top: -4px;
    left: 0;
    margin: 0;
    padding: 0;
    border-right: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0; }
