.alertify-cover {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    filter: alpha(opacity=.6);
    opacity: .6
}

.alertify {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 50px;
    left: 50%;
    width: 550px;
    margin-left: -275px
}

.alertify-close {
    pointer-events: none;
    opacity: 0;
    display: none;
    -webkit-transform: translate(0, -150px);
    -moz-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    -o-transform: translate(0, -150px);
    transform: translate(0, -150px)
}

:root * > .alertify-close {
    visibility: hidden;
    display: block;
}

.alertify-dialog-title {
    margin: 0
}

.alertify-input {
    -webkit-appearance: none
}

.alertify-buttons {
    display: block
}

.alertify-button, .alertify-button:active, .alertify-button:hover, .alertify-button:visited {
    text-decoration: none;
    border: none;
    line-height: 1.5;
    font-size: 100%;
    display: inline-block;
    cursor: pointer
}

.alertify-focus-reset {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.alertify {
    -webkit-transition: all 500ms cubic-bezier(.175, .885, .32, 1.275);
    -moz-transition: all 500ms cubic-bezier(.175, .885, .32, 1.275);
    -ms-transition: all 500ms cubic-bezier(.175, .885, .32, 1.275);
    -o-transition: all 500ms cubic-bezier(.175, .885, .32, 1.275);
    transition: all 500ms cubic-bezier(.175, .885, .32, 1.275)
}

.alertify-close {
    -webkit-transition: all 250ms cubic-bezier(.6, -.28, .735, .045);
    -moz-transition: all 250ms cubic-bezier(.6, -.28, .735, .045);
    -ms-transition: all 250ms cubic-bezier(.6, -.28, .735, .045);
    -o-transition: all 250ms cubic-bezier(.6, -.28, .735, .045);
    transition: all 250ms cubic-bezier(.6, -.28, .735, .045)
}

.alertify--alert .alertify-button-cancel, .alertify--alert .alertify-input, .alertify--confirm .alertify-input, .alertify-hidden {
    display: none
}

@media only screen and (max-width: 680px) {
    .alertify {
        width: 90%;
        left: 5%;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
}
