.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #1a1a1a;
}
.navbar-inverse {
    background-color: #2c2c2c;
    border-color: #2c2c2c;
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
.navbar-collapse::before, .navbar-collapse::after {
    content: " ";
    display: table;
}
.navbar-collapse::before, .navbar-collapse::after {
    content: " ";
    display: table;
}
.navbar-collapse::after {
    clear: both;
}
.container-fluid::before, .container-fluid::after {
    content: " ";
    display: table;
}
.container-fluid::after {
    clear: both;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 19px;
    border: 1px solid transparent;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.page-main-actions.page-main-actions--no-tabs {
    float: none;
}

@media (min-width: 992px) {
    .modal-dialog.modal-lg {
        width: 90vw;
    }
}
